.venv/
__pycache__/
data/worldcover/*.tif
data/worldcover/*.tiff

__pycache__/
.venv/
*.png
urls_ndvi.txt


# --- Datos pesados (NO subir a git; van por Drive/cluster) ---
*.nc
*.tif
data/
.DS_Store
.venv/
__pycache__/
