.venv/
__pycache__/
focos_guanacaste*.csv
data/worldcover/*.tif
data/worldcover/*.tiff

__pycache__/
.venv/
*.png
urls_ndvi.txt


# --- Datos pesados (NO subir a git; van por Drive/cluster) ---
*.nc
*.tif
dataset_*.csv
focos_*.csv
worldcover_*.csv
ndvi_*.csv
data/
.DS_Store
.venv/
__pycache__/
